@model IEnumerable<DesafioTransire.Models.Product>
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Oscar vídeo Locadora</h1>
    <p class="lead">
        A Oscar vídeo locadora, está com uma proposta para revolucionar o mercado do cinema.
        <br />
        Conosco, você poderá alugar seus filmes sem sair de casa, realizamos entrega do maior acervo de manaus em sua casa!
        <br />
        Mais de 2.000 exemplares com as melhores fitas cassetes até os mais recentes Blu-rays.
    </p>

    <p>@Html.ActionLink("Aluge já", "Index", "Products", new { @area = "" }, new { @class = "btn btn-primary btn-lg" })</p>

</div>

<div class="row">
    <h1>
        Produtos em destaque (Lançamentos)
    </h1>
</div>
<div class="row">

    <div class="col-md-4">
        @foreach (var item in Model) {
            <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
            <img src="@Html.DisplayFor(modelItem => item.ImageLink)" />
            <p>
                @Html.DisplayFor(modelItem => item.Description)
            </p>
            <p><a class="btn btn-default" href="@Html.DisplayFor(modelItem => item.ID)">Alugar &raquo;</a></p>
        }
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#carouselProducts').carousel();
    });

</script>