@model IEnumerable<DesafioTransire.Models.Products>
@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>Oscar vídeo Locadora</h1>
    <p class="lead">
        A Oscar vídeo locadora, está com uma proposta para revolucionar o mercado do cinema.
        <br />
        Conosco, você poderá alugar seus filmes sem sair de casa, realizamos entrega do maior acervo de manaus em sua casa!
        <br />
        Mais de 2.000 exemplares com as melhores fitas cassetes até os mais recentes Blu-rays.
    </p>

    <p>@Html.ActionLink("Conheça nosso acervo!", "Index", "Products", new { @area = "" }, new { @class = "btn btn-primary btn-lg" })</p>

</div>

<div class="row">
    <h1>
        Produtos em destaque (Lançamentos)
    </h1>
</div>
<div class="row">

                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <form id="form1" runat="server">
                            <div>

                    <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                    <img src="@Html.DisplayFor(modelItem => item.URL)" width="300px" height="411px" />
                    <p>
                        @Html.DisplayFor(modelItem => item.Description)
                    </p>
                                <p><a class="btn btn-default" href="@Html.DisplayFor(modelItem => item.ID)">Alugar &raquo;</a></p>
                            </div>
                        </form>
                    </div>
                }
   
    
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#carouselProducts').carousel();
    });

</script>